# Private ---------------------------------------------------------------------------
MONGODB_URI=# La URI de conexión a tu base de datos MongoDB, por ejemplo: mongodb://localhost:27017/tu-base-de-datos
BETTER_AUTH_SECRET= # La clave secreta para Better Auth, puedes generar una con: openssl rand -base64 32
BETTER_AUTH_URL= # La url base de tu app, por ejemplo: https://tu-app.com
BASE_URL=# La url base de tu app, por ejemplo: https://tu-app.com
VERCEL_URL=# Vercel la proporciona automáticamente, no es necesario que la agregues aquí

# Pasarelas de pago
MP_ACCESS_TOKEN=# El token de acceso de tu cuenta de Mercado Pago

# Public ---------------------------------------------------------------------------
NEXT_PUBLIC_GA_ID=G-EB0GSL8123