# Private
MONGODB_URI="Link de la base de datos "
SECRET_JWT="Llave secreta"

# Mercado pago
MP_ACCESS_TOKEN="Token de mercado pago"
BASE_URL="URL de pagina"


# Public 
NEXT_PUBLIC_GA_ID="Valor de las analiticas"